/* Importa fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

button {
    background: #4facfe;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

button:hover {
    background: #3b8bf7;
}

p {
    font-size: 14px;
    margin-top: 11px;
}

a {
    color: #4facfe;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}
