<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='registro-aluno.css') }}">
    <title>Login Professor</title>
</head>
<body>

    <div class="login-container">
        <h1>Login - Professor</h1>

        <form action="{{ url_for('loginProfessor') }}" method="POST">
            {{ form.hidden_tag() }}
            
            <label for="emailForm">Email:</label>
            {{ form.email() }} 
            <label for="senhaForm">Senha:</label>
            {{ form.senha() }} 
        
            <button type="submit">Entrar</button>

            <p>O professor nao possui conta? Acesse: <a href="{{url_for('registrarProfessor')}}"></a></p>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    </div>

</body>
</html>
