<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre-se</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registro-aluno.css') }}">
</head>
<body>

    <div class="register-container">
        <h1>Registre-se</h1>

        <form action="{{ url_for('register') }}" id="register" method="post">
            {{ form.hidden_tag() }}  <!-- CSRF Token -->
            
            <label for="nome">Nome: </label> 
            {{ form.nome() }}

            <label for="email">Email: </label> 
            {{ form.email() }}

            <label for="senha">Senha: </label>
            {{ form.senha() }}

            <label for="confirmar_senha">Digite novamente sua senha: </label>
            {{ form.confirmar_senha() }}

            <label for="telefone">Telefone para contato: </label>
            {{ form.telefone() }}

            <label for="data_nascimento">Digite sua data de Nascimento: </label>
            {{ form.data_nascimento() }}

            <label for="plano_id">Plano:</label>
            {{ form.plano_id() }}

            <button type="submit">Entrar</button>

            <p>Já possui conta? <a href="{{ url_for('login') }}">Entre aqui</a></p>
        </form>
    </div>

</body>
</html>
