<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre-se</title>
    <link rel="stylesheet" href="static/registro-aluno.css">

</head>
<body>

    <div class="register">
    <h1> Registre-se </h1>
    <form action="" method="post">
        <label for="email">email: </label>
        <input type="email" name="email" id="email">
        
        <label for="senha">Senha: </label>
        <input type="password" name="senha" id="senha">
        <label for="senha">Digite novamente sua senha: </label>
        <input type="password" name="senha" id="senha">

    </form>
    </div>
    
    <p>ja possui conta? <a href="">entre aqui</a></p>

</body>
</html>